footer {
	width: 100%;
	height: 230px;
	border-top: 1px solid #000;
	position: relative;
	.inner {
		width: 1500px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		h2 {
			width: 100%;
			height: 100%;
			a {
				display: block;
				width: 190px;
				height: 55px;
				position: absolute;
				top: 50%;
				left: -2%;
				transform: translate(2%, -50%);
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		div {
			ul {
				width: 100%;
				display: flex;
				gap: 50px;
				position: absolute;
				top: 30%;
				left: 14%;
				li:nth-of-type(1) {
					a {
						font-size: 18px;
						font-family: 'Pretendard-Regular';
						font-weight: 600;
						text-align: center;
						line-height: 1;
						color: #454343;
					}
				}
				li:nth-of-type(2) {
					a {
						font-size: 18px;
						font-family: 'Pretendard-Regular';
						font-weight: 500;
						text-align: center;
						line-height: 1;
						color: #454343;
					}
				}
				li:nth-of-type(3) {
					a {
						font-size: 18px;
						font-family: 'Pretendard-Regular';
						font-weight: 500;
						text-align: center;
						line-height: 1;
						color: #454343;
					}
				}
			}
			address {
				width: 100%;
				display: flex;
				position: absolute;
				bottom: 30%;
				left: 14%;
				font-size: 20px;
				font-family: 'Pretendard-Regular';
				font-weight: 500;
				text-align: center;
				line-height: 1;
				color: #454343;
			}
			p {
				width: 100%;
				display: flex;
				position: absolute;
				bottom: 18%;
				left: 14%;
				font-size: 20px;
				font-family: 'Pretendard-Regular';
				font-weight: 500;
				text-align: center;
				line-height: 1;
				color: #454343;
			}
		}
		select {
			width: 250px;
			height: 50px;
			background-color: #144192;
			border-radius: 50px;
			font-size: 20px;
			font-family: 'Pretendard-Regular';
			font-weight: 300;
			text-align: center;
			line-height: 1;
			color: #fff;
			position: absolute;
			top: 50%;
			right: 0%;
			transform: translateY(-50%);
			@for $i from 1 through 8 {
				option:nth-of-type(#{$i}) {
					font-size: 20px;
					font-family: 'Pretendard-Regular';
					font-weight: 300;
					text-align: center;
					line-height: 1;
					color: #fff;
				}
			}
		}
	}
	.sns {
		width: 230px;
		height: 40px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: 20%;
		left: 60%;
		transform: translate(-60%, -20%);

		ul {
			width: 100%;
			height: 100%;

			a {
				display: block;

				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
			}
		}
	}
	.btnTop {
		display: block;
		width: 60px;
		height: 50px;
		position: absolute;
		bottom: 40%;
		right: 10%;
		margin-right: -100px;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 2px;
			height: 25px;
			background-color: #144192;
			position: absolute;
			top: 0;
			left: 50%;
			transform-origin: center top;
			transition: 0.5s;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
		span {
			display: block;
			width: 2px;
			height: 40px;
			background-color: #144192;
			position: absolute;
			top: 0;
			left: 50%;
			transition: 0.5s;
		}
		h2 {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			font-family: 'Pretendard-Regular';
			font-weight: 300;
			font-size: 20px;
			line-height: 1;
			letter-spacing: 1px;
			color: #144192;
			text-align: center;
			transition: 0.5s;
			opacity: 0;
		}
		&:hover {
			&::before {
				transform: rotate(45deg) translateY(-40px);
				opacity: 0;
			}
			&::after {
				transform: rotate(-45deg) translateY(-40px);
				opacity: 0;
			}
			span {
				transform: translateY(-40px);
				opacity: 0;
			}
			h2 {
				top: 50%;
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 874px) {
	footer {
		width: 100vw;
		.inner {
			width: 100%;
			h2 {
				width: 100%;
				a {
					position: absolute;
					top: 20%;
					left: 8%;
					transform: translate(-3%, -20%);
					img {
						width: 80%;
						height: 80%;
					}
				}
			}
			div {
				ul {
					width: 100%;
					gap: 20px;
					position: absolute;
					top: 40%;
					left: 8%;
					li:nth-of-type(1) {
						a {
							font-size: 2vw;
						}
					}
					li:nth-of-type(2) {
						a {
							font-size: 2vw;
						}
					}
					li:nth-of-type(3) {
						a {
							font-size: 2vw;
						}
					}
				}
				address {
					position: absolute;
					bottom: 30%;
					left: 8%;
					font-size: 2vw;
				}
				p {
					width: 100%;
					display: flex;
					position: absolute;
					bottom: 18%;
					left: 8%;
					font-size: 2vw;
				}
			}
			select {
				width: 30vw;
				height: 5vh;
				font-size: 2vw;
				position: absolute;
				top: 35%;
				right: 8%;
				transform: translateY(-35%);
				@for $i from 1 through 8 {
					option:nth-of-type(#{$i}) {
						font-size: 3vw;
					}
				}
			}
		}
		.sns {
			display: none;
		}
		.btnTop {
			display: none;
		}
	}
}
@media screen and (max-width: 400px) {
	footer {
		width: 100vw;
		.inner {
			width: 100%;
			h2 {
				width: 100%;
				a {
					position: absolute;
					top: 30%;
					left: 2%;
					transform: translate(2%, -50%);

					img {
						width: 60%;
						height: 60%;
					}
				}
			}
			div {
				ul {
					width: 100%;
					display: flex;
					gap: 20px;
					position: absolute;
					top: 45%;
					left: 5%;
					li:nth-of-type(1) {
						a {
							font-size: 3vw;
						}
					}
					li:nth-of-type(2) {
						a {
							font-size: 3vw;
						}
					}
					li:nth-of-type(3) {
						a {
							font-size: 3vw;
						}
					}
				}
				address {
					position: absolute;
					bottom: 30%;
					left: 5%;
					font-size: 3vw;
				}
				p {
					position: absolute;
					bottom: 22%;
					left: 5%;
					font-size: 3vw;
				}
			}
			select {
				width: 50vw;
				height: 6vh;
				font-size: 5vw;
				position: absolute;
				top: 25%;
				right: 5%;
				transform: translateY(-50%);
			}
		}
		.sns {
			display: none;
		}
		.btnTop {
			display: none;
		}
	}
}
