header {
	width: 100%;
	overflow: hidden;
	.inner {
		width: 1180px;
		height: 110px;
		margin: 0 auto;
		position: relative;
		h1 {
			width: 100%;
			margin: 0 auto;
			a {
				img {
					width: 170px;
					height: 50px;
					position: absolute;
					top: 70%;
					left: 0%;
					transform: translateY(-50%);
				}
			}
		}
		.util {
			position: absolute;
			top: 10px;
			right: 0;
			ul {
				display: flex;
				gap: 20px;
				li {
					a {
						font-size: 12px;
						font-family: 'Pretendard-Regular';
						font-weight: 300;
						color: #000;
					}
				}
			}
		}
		#gnb {
			position: absolute;
			width: 100%;
			top: 65%;
			ul {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				gap: 50px;
				li {
					a {
						font-size: 20px;
						font-family: Pretendard-Regular;
						font-weight: 600;
						color: #000;
						transition: all 0.3s;
						position: relative;
						&::after {
							content: '';
							display: block;
							width: 0%;
							height: 2px;
							background-color: #144192;
							position: absolute;
							bottom: 0;
							left: 0;
							transition: 0.5s;
						}
						&:hover {
							color: #144192;
							&::after {
								width: 100%;
							}
						}
					}
				}
			}
		}
		.gnbCall {
			position: absolute;
			top: 45%;
			right: 10%;
			transform: translateY(-45%);
			display: none;
			width: 25px;
			height: 25px;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 4px;
				border-radius: 3px;
				background-color: #144192;
				position: absolute;
				top: 0;
				left: 0;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 4px;
				border-radius: 3px;
				background-color: #144192;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 100%;
				height: 4px;
				border-radius: 3px;
				background-color: #144192;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: 0.5s;
				margin-top: -1px;
				text-indent: -99999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -4px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: 0px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			}
		}
		.moTitle {
			width: 350px;
			height: 100vh;
			position: fixed;
			top: 0;
			left: -400px;
			z-index: 10;
			padding: 40px 40px;
			background-color: #fdfcf9;
			box-shadow: 1px 1px 5px #888;
			transition: all 0.5s;
			&.on {
				left: 0px;
			}
			h2 {
				border-bottom: 2px solid #144192;
				text-align: center;
				margin-bottom: 20px;
				a {
					img {
						width: 150px;
					}
				}
			}
			#gnbMo {
				transition: 0.5s;
				li {
					a {
						display: block;
						font-family: 'Pretendard-Regular';
						font-weight: 300;
						font-size: 25px;
						line-height: 1.3;
						color: #144192;
						text-align: center;
						padding: 20px 0px;
						text-align: center;
						&:hover {
							color: #222;
						}
					}
				}
			}
			.sns {
				width: 200px;
				height: 200px;
				position: absolute;
				bottom: 5%;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				gap: 5%;

				ul {
					width: 100%;
					height: 100%;

					a {
						display: block;

						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
							box-shadow: 1px 2px 5px #777;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 874px) {
	header {
		width: 100vw;
		.inner {
			width: 100%;
			height: 10vh;
			h1 {
				a {
					img {
						top: 50%;
						left: 10%;
						transform: translate(-20%, -50%);
					}
				}
			}
			.util {
				display: none;
			}
			#gnb {
				display: none;
			}
			.gnbCall {
				display: block;
			}
			.moTitle {
				display: block;
				#gnbMo {
					display: block;
				}
				.sns {
					width: 20vw;
					height: 10vh;
					position: absolute;
					bottom: 0%;
					left: 50%;
					transform: translateX(-50%);
					display: flex;
					gap: 5%;

					ul {
						width: 100%;
						height: 100%;

						a {
							display: block;

							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 400px) {
	header {
		width: 100vw;
		.inner {
			width: 100%;
			h1 {
				margin: 0;
				a {
					img {
						position: absolute;
						top: 50%;
						left: 10%;
						transform: translate(-10%, -50%);
					}
				}
			}
			.gnbCall {
				display: block;
				position: absolute;
				top: 45%;
				right: 10%;
				transform: translateY(-45%);
				width: 30px;
				height: 30px;
			}
			.moTitle {
				width: 50%;
				height: 100vh;
				left: -60%;
				&.on {
					left: 0%;
				}
				h2 {
					a {
						img {
							width: 100%;
						}
					}
				}
				#gnbMo {
					li {
						a {
							font-size: 5vw;
							&:hover {
								border-bottom: none;
							}
						}
					}
				}
				.sns {
					width: 80%;
					position: absolute;
					bottom: 0%;
					left: 50%;
					transform: translateX(-50%);
					display: flex;
					gap: 5%;

					ul {
						width: 100%;
						height: 100%;

						a {
							display: block;

							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
						}
					}
				}
			}
		}
	}
}
